
body{
    background: #072227;
}
#homeSection{
    background-image:url('../imgs/compimage2.jpg');
    width:100%;
    height: 80vh;
    background-repeat: round;
    padding: 10px;
}
@media(max-width:760px){
    #homeSection{
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }
}


.navbar-nav{
    margin-right: 10%;
}
.nav-item{
    padding: 0 5%;
}
.nav-link{
    font-size: 1rem;
    font-weight: bold;
}

 #homeSection h1,h2{
    position: relative;
    left:auto;
    right: auto;
    top: 170px;
    color: #ffff;
}

#profileSection{
    width: 100%;
    text-align: center;
    background: #000000;
    height: 100vh;
    color: white;

    }
#profileSection img{
    height:140px;
    width: 140px;
    border-radius: 100px;

}
.divmenu, .mylogo{
    margin-left: 5%;
}
.btn-togg{
    margin-right: 4%;
}
.skillDiv{
    padding: 10px;
    top: 800px;
    color: #ffff;
    text-align: center;
}
.skillDiv tr, th, td{
    padding: 10px;
}
.profile_img, .message_divprof{
    padding: 5% 10%;
}